body{color:#222;background-color:#ccc}
a,a:active,a:visited,a:hover{color:#1d7297;text-decoration:none;font-weight:bold}
a:hover{text-decoration:underline}
::-moz-selection,::selection{background:#999;color:#fff}
p code{background-color:#fff}
pre,.gist .gist-file .gist-data{color:#fff;background-color:#222 !important;font-size:13px}
pre{padding:10px 15px;margin-left:15px;margin-right:15px;margin-bottom:15px}
pre,.gist .gist-file{border:1px solid #ccc;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:2px 5px 5px #999;-moz-box-shadow:2px 5px 5px #999;box-shadow:2px 5px 5px #999;}
.ie6 pre,.ie6 .gist .gist-file,.ie7 pre,.ie7 .gist .gist-file,.ie8 pre,.ie8 .gist .gist-file{border:2px solid #999}
.highlight span{background-color:#222 !important}
a.button{display:inline-block;outline:none;cursor:pointer;text-align:center;text-decoration:none;font-size:18px;text-shadow:0 1px 1px rgba(0,0,0,0.3);-webkit-border-radius:.5em;-moz-border-radius:.5em;border-radius:.5em;-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);-moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);box-shadow:0 1px 2px rgba(0,0,0,0.2);padding:.25em 1.5em .25em 1.5em;margin:0 2px;height:24px;}
a.button:active{position:relative;top:1px}
.text a.button{line-height:28px}
.icon a{height:24px;width:24px;padding:.25em .75em .25em .75em;display:inline-block;}
.icon a img{margin:-13px}
div.menu a.button,a.grey{color:#e9e9e9;border:solid 1px #555;background:#6e6e6e;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #888), color-stop(1, #575757));background:-webkit-linear-gradient(top, #888 0%, #575757 100%);background:-moz-linear-gradient(top, #888 0%, #575757 100%);background:-o-linear-gradient(top, #888 0%, #575757 100%);background:-ms-linear-gradient(top, #888 0%, #575757 100%);background:linear-gradient(top, #888 0%, #575757 100%);}
.ie6 div.menu a.button,.ie6 a.grey,.ie7 div.menu a.button,.ie7 a.grey,.ie8 div.menu a.button,.ie8 a.grey{border:1px solid #aaa}
div.menu a.button:visited,a.grey:visited,div.menu a.button:hover,a.grey:hover{color:#e9e9e9}
div.menu a.button:hover,a.grey:hover{background:#616161;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #757575), color-stop(1, #4b4b4b));background:-webkit-linear-gradient(top, #757575 0%, #4b4b4b 100%);background:-moz-linear-gradient(top, #757575 0%, #4b4b4b 100%);background:-o-linear-gradient(top, #757575 0%, #4b4b4b 100%);background:-ms-linear-gradient(top, #757575 0%, #4b4b4b 100%);background:linear-gradient(top, #757575 0%, #4b4b4b 100%)}
div.menu a.button:active,a.grey:active{color:#afafaf;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #575757), color-stop(1, #888));background:-webkit-linear-gradient(top, #575757 0%, #888 100%);background:-moz-linear-gradient(top, #575757 0%, #888 100%);background:-o-linear-gradient(top, #575757 0%, #888 100%);background:-ms-linear-gradient(top, #575757 0%, #888 100%);background:linear-gradient(top, #575757 0%, #888 100%)}
a.white{color:#303030;border:solid 1px #b7b7b7;background:#fff;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ededed));background:-webkit-linear-gradient(top, #fff 0%, #ededed 100%);background:-moz-linear-gradient(top, #fff 0%, #ededed 100%);background:-o-linear-gradient(top, #fff 0%, #ededed 100%);background:-ms-linear-gradient(top, #fff 0%, #ededed 100%);background:linear-gradient(top, #fff 0%, #ededed 100%);}
.ie6 a.white,.ie7 a.white,.ie8 a.white{border:1px solid #303030}
a.white:visited,a.white:hover{color:#303030}
a.white:hover{background:#ededed;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #dcdcdc));background:-webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);background:-moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);background:-o-linear-gradient(top, #fff 0%, #dcdcdc 100%);background:-ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);background:linear-gradient(top, #fff 0%, #dcdcdc 100%)}
a.white:active{color:#999;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #ededed), color-stop(1, #fff));background:-webkit-linear-gradient(top, #ededed 0%, #fff 100%);background:-moz-linear-gradient(top, #ededed 0%, #fff 100%);background:-o-linear-gradient(top, #ededed 0%, #fff 100%);background:-ms-linear-gradient(top, #ededed 0%, #fff 100%);background:linear-gradient(top, #ededed 0%, #fff 100%)}
#header-wrapper{overflow:hidden;padding:5px 0;margin:-5px 0}
header{width:100%;margin-bottom:20px;padding-top:1em;background-color:#000;color:#fff;-webkit-box-shadow:0 5px 5px #999;-moz-box-shadow:0 5px 5px #999;box-shadow:0 5px 5px #999;}
header div.title{margin-left:auto;margin-right:auto;margin-bottom:10px;padding:.5em;}
header div.title a,header div.title a:active,header div.title a:visited,header div.title a:hover{color:#fff}
header div.title h1,header div.title p{margin:0}
header div.title h1{float:left;font-size:3.2em;font-weight:800;padding-right:.5em;margin-right:.5em;border-right:1px solid #fff}
header div.title p{font-size:1.15em;font-weight:350;color:#ccc}
#main .inner{margin-top:5px;margin-bottom:30px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;padding:20px 30px;background:#fff;-webkit-box-shadow:2px 5px 5px #999;-moz-box-shadow:2px 5px 5px #999;box-shadow:2px 5px 5px #999;}
.ie6 #main .inner,.ie7 #main .inner,.ie8 #main .inner{border:2px solid #999}
#main h2,#post h2,div.page h2,#main h3,#post h3,div.page h3,#main h4,#post h4,div.page h4{color:#555;text-shadow:1px 1px 2px rgba(0,0,0,0.2)}
#main h2.title,#post h2.title,div.page h2.title{margin-top:0;font-size:2em;text-align:center;color:#222;}
#main h2.title a,#post h2.title a,div.page h2.title a,#main h2.title a:active,#post h2.title a:active,div.page h2.title a:active,#main h2.title a:visited,#post h2.title a:visited,div.page h2.title a:visited,#main h2.title a:hover,#post h2.title a:hover,div.page h2.title a:hover{color:#222;text-decoration:none}
#post-meta{display:block}
#date{float:left}
#tags{float:right;width:250px;text-align:right}
#date,#tags span.section{font-style:italic}
.post{margin-bottom:15px;}
.post .more{text-align:right;font-style:italic;margin-bottom:15px}
.post p{text-indent:25px;line-height:125%}
.post ul li{line-height:125%;padding-bottom:5px;}
.post ul li p{text-indent:0;margin:0;padding:0}
div.image img{border:none;display:block;margin-right:auto;margin-left:auto;-webkit-box-shadow:3px 3px 4px #999;-moz-box-shadow:3px 3px 4px #999;box-shadow:3px 3px 4px #999;}
.ie6 div.image img,.ie7 div.image img,.ie8 div.image img{border:2px solid #999}
#share{height:20px;margin-bottom:8px;float:left;display:inline;}
#share div#___plusone_0{padding-left:10px !important;}
#share div#___plusone_0[style]{width:200px !important}
div.page h2.title{text-align:left}
div.page p{line-height:125%}
div.about img.about{border:none;float:right;position:relative;margin:0 5px 10px 15px;-webkit-box-shadow:3px 3px 4px #999;-moz-box-shadow:3px 3px 4px #999;box-shadow:3px 3px 4px #999;}
.ie6 div.about img.about,.ie7 div.about img.about,.ie8 div.about img.about{border:2px solid #999}
div.about p{text-indent:25px}
div.archived-post{margin-bottom:10px;}
div.archived-post time,div.archived-post div.item{display:inline;float:left;margin:0;padding:0;border:0;font-size:1.1em}
div.archived-post time{width:98px;font-weight:bold}
div.archived-post div.item{width:page-width -2;}
div.archived-post div.item p{margin:5px 0}
@media print{a[href]:after,abbr[title]:after{content:"" !important}
}