/* -------------------------------------------------------------------------
 * Header
 * ------------------------------------------------------------------------- */
.masthead {
  background-color: #202020;
  color: #fff;
}
.masthead-title a,
.container .masthead-title a,
.masthead-title a:active,
.masthead-title a:visited,
.masthead-title a:hover {
  font-size: 1.25em;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.masthead-title small {
  display: none;
}
@media (min-width: 40em) {
  .masthead-title {
    display: inline-block;
  }
  .masthead-title a {
    float: left;
    padding-right: 8px;
    border-right: 1px solid #fff;
  }
  .masthead-title small {
    float: left;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 415px;
    font-size: 0.65em;
    vertical-align: top;
    text-align: left;
    overflow: hidden;
  }
}
@media (min-width: 56em) {
  .masthead-title small {
    max-width: 540px;
  }
}


/* -------------------------------------------------------------------------
 * Pages
 * ------------------------------------------------------------------------- */
.archive time {
  font-weight: bold;
}

article p img,
.excerpt p img,
.pull-center > a > img,
.pull-center > img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* -------------------------------------------------------------------------
 * Posts
 * ------------------------------------------------------------------------- */
.post-meta .post-date {
  display: block;
}
.post-meta .tags {
  display: block;
  margin-top: -.5rem;
  margin-bottom: .8rem;
  line-height: 30px;
}
@media (min-width: 767px) {
  .post-meta .post-date {
    float: left;
  }
  .post-meta .tags {
    float: right;
  }
}
.post-meta .tags a,
.post-meta .tags a:active,
.post-meta .tags a:visited,
.post-meta .tags a:hover {
  color: #fff;
  text-decoration: none;
}
.post-meta .tags .badge {
  font-size: 0.8em;
  margin-left: 2px;
  margin-right: 2px;
  padding: 5px 10px;
  color: #fff;
  background-color: #bbb;
  border: 1px solid #ddd;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}

.post-content {
  clear: both;
}

.post .more {
  font-style: italic;
}

/* -------------------------------------------------------------------------
 * Utility
 * ------------------------------------------------------------------------- */
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.pull-center {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

img.pull-right {
  margin-left: 5px;
  margin-bottom: 5px;
}

.clearfix {
  clear: both;
}

/* -------------------------------------------------------------------------
 * Embeds
 * ------------------------------------------------------------------------- */
.embed {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.embed iframe,
.embed object {
  margin-bottom: 15px;
  border: 1px solid #ccc;
}

.embed-slides iframe,
.embed-slides embed {
  width: 427px;
  height: 356px;
}

@media (max-width: 767px) {
  .embed iframe,
  .embed embed {
    width: 90%;
  }
  .embed-slides iframe,
  .embed-slides embed {
    max-width: 427px;
    max-height: 356px;
  }
}

