.highlight .hll,.gist-highlight .hll{background-color:#ffc}
.highlight .c,.gist-highlight .c{color:#808080}
.highlight .err,.gist-highlight .err{color:#f00000;background-color:#f0a0a0}
.highlight .k,.gist-highlight .k{color:#008000;font-weight:bold}
.highlight .o,.gist-highlight .o{color:#303030}
.highlight .cm,.gist-highlight .cm{color:#808080}
.highlight .cp,.gist-highlight .cp{color:#507090}
.highlight .c1,.gist-highlight .c1{color:#808080}
.highlight .cs,.gist-highlight .cs{color:#c00;font-weight:bold}
.highlight .gd,.gist-highlight .gd{color:#a00000}
.highlight .ge,.gist-highlight .ge{font-style:italic}
.highlight .gr,.gist-highlight .gr{color:#f00}
.highlight .gh,.gist-highlight .gh{color:#000080;font-weight:bold}
.highlight .gi,.gist-highlight .gi{color:#00a000}
.highlight .go,.gist-highlight .go{color:#808080}
.highlight .gp,.gist-highlight .gp{color:#c65d09;font-weight:bold}
.highlight .gs,.gist-highlight .gs{font-weight:bold}
.highlight .gu,.gist-highlight .gu{color:#800080;font-weight:bold}
.highlight .gt,.gist-highlight .gt{color:#0040d0}
.highlight .kc,.gist-highlight .kc{color:#008000;font-weight:bold}
.highlight .kd,.gist-highlight .kd{color:#008000;font-weight:bold}
.highlight .kn,.gist-highlight .kn{color:#008000;font-weight:bold}
.highlight .kp,.gist-highlight .kp{color:#003080;font-weight:bold}
.highlight .kr,.gist-highlight .kr{color:#008000;font-weight:bold}
.highlight .kt,.gist-highlight .kt{color:#303090;font-weight:bold}
.highlight .m,.gist-highlight .m{color:#6000e0;font-weight:bold}
.highlight .s,.gist-highlight .s{background-color:#fff0f0}
.highlight .na,.gist-highlight .na{color:#0000c0}
.highlight .nb,.gist-highlight .nb{color:#007020}
.highlight .nc,.gist-highlight .nc{color:#b00060;font-weight:bold}
.highlight .no,.gist-highlight .no{color:#003060;font-weight:bold}
.highlight .nd,.gist-highlight .nd{color:#505050;font-weight:bold}
.highlight .ni,.gist-highlight .ni{color:#800000;font-weight:bold}
.highlight .ne,.gist-highlight .ne{color:#f00000;font-weight:bold}
.highlight .nf,.gist-highlight .nf{color:#0060b0;font-weight:bold}
.highlight .nl,.gist-highlight .nl{color:#907000;font-weight:bold}
.highlight .nn,.gist-highlight .nn{color:#0e84b5;font-weight:bold}
.highlight .nt,.gist-highlight .nt{color:#007000}
.highlight .nv,.gist-highlight .nv{color:#906030}
.highlight .ow,.gist-highlight .ow{color:#000;font-weight:bold}
.highlight .w,.gist-highlight .w{color:#bbb}
.highlight .mf,.gist-highlight .mf{color:#6000e0;font-weight:bold}
.highlight .mh,.gist-highlight .mh{color:#005080;font-weight:bold}
.highlight .mi,.gist-highlight .mi{color:#0000d0;font-weight:bold}
.highlight .mo,.gist-highlight .mo{color:#4000e0;font-weight:bold}
.highlight .sb,.gist-highlight .sb{background-color:#fff0f0}
.highlight .sc,.gist-highlight .sc{color:#0040d0}
.highlight .sd,.gist-highlight .sd{color:#d04020}
.highlight .s2,.gist-highlight .s2{background-color:#fff0f0}
.highlight .se,.gist-highlight .se{color:#606060;font-weight:bold;background-color:#fff0f0}
.highlight .sh,.gist-highlight .sh{background-color:#fff0f0}
.highlight .si,.gist-highlight .si{background-color:#e0e0e0}
.highlight .sx,.gist-highlight .sx{color:#d02000;background-color:#fff0f0}
.highlight .sr,.gist-highlight .sr{color:#000;background-color:#fff0ff}
.highlight .s1,.gist-highlight .s1{background-color:#fff0f0}
.highlight .ss,.gist-highlight .ss{color:#a06000}
.highlight .bp,.gist-highlight .bp{color:#007020}
.highlight .vc,.gist-highlight .vc{color:#306090}
.highlight .vg,.gist-highlight .vg{color:#d07000;font-weight:bold}
.highlight .vi,.gist-highlight .vi{color:#3030b0}
.highlight .il,.gist-highlight .il{color:#0000d0;font-weight:bold}
