.highlight .hll,.gist-highlight .hll{background-color:#ffc}
.highlight .c,.gist-highlight .c{color:#080;font-style:italic}
.highlight .err,.gist-highlight .err{border:1px solid #f00}
.highlight .k,.gist-highlight .k{color:#a2f;font-weight:bold}
.highlight .o,.gist-highlight .o{color:#666}
.highlight .cm,.gist-highlight .cm{color:#080;font-style:italic}
.highlight .cp,.gist-highlight .cp{color:#080}
.highlight .c1,.gist-highlight .c1{color:#080;font-style:italic}
.highlight .cs,.gist-highlight .cs{color:#080;font-weight:bold}
.highlight .gd,.gist-highlight .gd{color:#a00000}
.highlight .ge,.gist-highlight .ge{font-style:italic}
.highlight .gr,.gist-highlight .gr{color:#f00}
.highlight .gh,.gist-highlight .gh{color:#000080;font-weight:bold}
.highlight .gi,.gist-highlight .gi{color:#00a000}
.highlight .go,.gist-highlight .go{color:#808080}
.highlight .gp,.gist-highlight .gp{color:#000080;font-weight:bold}
.highlight .gs,.gist-highlight .gs{font-weight:bold}
.highlight .gu,.gist-highlight .gu{color:#800080;font-weight:bold}
.highlight .gt,.gist-highlight .gt{color:#0040d0}
.highlight .kc,.gist-highlight .kc{color:#a2f;font-weight:bold}
.highlight .kd,.gist-highlight .kd{color:#a2f;font-weight:bold}
.highlight .kn,.gist-highlight .kn{color:#a2f;font-weight:bold}
.highlight .kp,.gist-highlight .kp{color:#a2f}
.highlight .kr,.gist-highlight .kr{color:#a2f;font-weight:bold}
.highlight .kt,.gist-highlight .kt{color:#0b0;font-weight:bold}
.highlight .m,.gist-highlight .m{color:#666}
.highlight .s,.gist-highlight .s{color:#b44}
.highlight .na,.gist-highlight .na{color:#b44}
.highlight .nb,.gist-highlight .nb{color:#a2f}
.highlight .nc,.gist-highlight .nc{color:#00f}
.highlight .no,.gist-highlight .no{color:#800}
.highlight .nd,.gist-highlight .nd{color:#a2f}
.highlight .ni,.gist-highlight .ni{color:#999;font-weight:bold}
.highlight .ne,.gist-highlight .ne{color:#d2413a;font-weight:bold}
.highlight .nf,.gist-highlight .nf{color:#00a000}
.highlight .nl,.gist-highlight .nl{color:#a0a000}
.highlight .nn,.gist-highlight .nn{color:#00f;font-weight:bold}
.highlight .nt,.gist-highlight .nt{color:#008000;font-weight:bold}
.highlight .nv,.gist-highlight .nv{color:#b8860b}
.highlight .ow,.gist-highlight .ow{color:#a2f;font-weight:bold}
.highlight .w,.gist-highlight .w{color:#bbb}
.highlight .mf,.gist-highlight .mf{color:#666}
.highlight .mh,.gist-highlight .mh{color:#666}
.highlight .mi,.gist-highlight .mi{color:#666}
.highlight .mo,.gist-highlight .mo{color:#666}
.highlight .sb,.gist-highlight .sb{color:#b44}
.highlight .sc,.gist-highlight .sc{color:#b44}
.highlight .sd,.gist-highlight .sd{color:#b44;font-style:italic}
.highlight .s2,.gist-highlight .s2{color:#b44}
.highlight .se,.gist-highlight .se{color:#b62;font-weight:bold}
.highlight .sh,.gist-highlight .sh{color:#b44}
.highlight .si,.gist-highlight .si{color:#b68;font-weight:bold}
.highlight .sx,.gist-highlight .sx{color:#008000}
.highlight .sr,.gist-highlight .sr{color:#b68}
.highlight .s1,.gist-highlight .s1{color:#b44}
.highlight .ss,.gist-highlight .ss{color:#b8860b}
.highlight .bp,.gist-highlight .bp{color:#a2f}
.highlight .vc,.gist-highlight .vc{color:#b8860b}
.highlight .vg,.gist-highlight .vg{color:#b8860b}
.highlight .vi,.gist-highlight .vi{color:#b8860b}
.highlight .il,.gist-highlight .il{color:#666}
