// ----------------------------------------------------------------------------
// Imports
// ----------------------------------------------------------------------------
@import "vendor/bootstrap-2.3.0/mixins.less";
@import "bootstrap-variables.less";

// ----------------------------------------------------------------------------
// Variables
// ----------------------------------------------------------------------------
@header-width: 600px;
@header-color: #ffffff;
@header-subtitle-color: #cccccc;
@header-background: #000000;

@text-color: #222222;
@page-background: #cccccc;

@post-title-color: #222222;
@post-outline: #cfcfcf;
@heading-color: #555555;

@content-background: #ffffff;
@content-padding: 20px;
@code-background: #222222;
@code-color: #ffffff;
@code-border: #cccccc;

// ----------------------------------------------------------------------------
// Classes
// ----------------------------------------------------------------------------
body {
  color: @text-color;
  background-color: @page-background;
}

header {
  background-color: @header-background;

  .navbar {
    .brand {
      font-size: 1.5em;
      font-weight: bold;

    }

    a.brand, a.brand:visited {
      color: @header-color;
    }
  }

  div.title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 0.5em;
    color: @header-color;

    h1 {
      margin: 0px;
      float: left;
      font-size: 2.5em;
      font-weight: 600;
      padding-top: 0.2em;
      padding-bottom: 0.2em;
      padding-right: 0.5em;
      margin-right: 0.5em;
      border-right: 1px solid @header-color;
    }

    p {
      margin: 0px;
      padding-top: 0.45em;
      font-size: 1.15em;
      font-weight: 350;
      text-align: left;
      color: @header-subtitle-color;
    }

    a, a:active, a:visited, a:hover {
      color: @header-color;
      text-decoration: none;
    }
  }
}

// ----------------------------------------------------------------------------
// Nav bar.
// ----------------------------------------------------------------------------
// Center NavBar on Tablet+.
@media (min-width: 768px) {
  header {
    // See: http://stackoverflow.com/a/6245879/741892;
    .box-shadow(0px 10px 8px -8px #333);
    margin-left: -8px;
    margin-right: -8px;

    .ie6 &, .ie7 &, .ie8 & {
      margin-left: default;
      margin-right: default;
    }
  }
  .header-container {
    margin-right: auto;
    margin-left: auto;
    width: @header-width;
  }
  .pull-center {
    text-align: center;
  }
  .pull-center .nav {
    float:none;
    display:inline-block;
    *display: inline; *zoom: 1;
    height: 32px;
  }
}

// ----------------------------------------------------------------------------
// Page
// ----------------------------------------------------------------------------
@media (min-width: 768px) {
  #main {
    // Totally fluid now.
    margin-left: 10%;
    margin-right: 10%;
  }
}

#main,
#post,
div.page {
  h2,
  h3,
  h4 {
    color: @heading-color;
  }

  h2.title {
    margin-top: 0px;
    text-align: center;

    a, a:active, a:visited, a:hover {
      color: @post-title-color;
      text-decoration: none;
    }
  }
}

#main {
  .inner {
    margin-top: 5px;
    margin-bottom: 25px;
    .border-radius(10px);
    padding: @content-padding;
    background: @content-background;
    .box-shadow(3px 5px 5px #333);

    .ie6 &, .ie7 &, .ie8 & {
      border: 1px solid #666;
    }
  }
}

.date,
.tags span.section {
  font-style: italic;
  margin-bottom: 2px;
}

.tags {
  text-align: right;

  .badge {
    padding: 4px 7px;
    margin-bottom: 2px;
    border: 1px solid #ccc;
  }

  a, a:active, a:visited, a:hover {
    color: #fff;
    text-decoration: none;
  }
}

.post {
  margin-bottom: 25px;

  .more {
    font-style: italic;
  }
}

.archive {
  time {
    font-weight: bold;
  }
}

img.bordered {
  border: 0px;
  margin: 5px;
  .box-shadow(3px 3px 4px #999999);

  .ie6 &, .ie7 &, .ie8 & {
    border: 2px solid #999999;
  }
}

article,
.excerpt {
  p {
    img {
      border: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }
  }
}

// Phone adjustments.
@media (max-width: 767px) {
  body {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .navbar {
    margin-bottom: 5px;
  }

  #main,
  #post,
  div.page {
    h1,
    h2,
    h3 {
      line-height: @baseLineHeight * 1.75;
    }

    h1 { font-size: @baseFontSize * 2.75; }
    h2 { font-size: @baseFontSize * 2; }
    h3 { font-size: @baseFontSize * 1.5; }
  }

  #main {
    .inner {
      padding: @content-padding * 0.75;
    }
  }
}

// ----------------------------------------------------------------------------
// Embeds
// ----------------------------------------------------------------------------
.embed {
  text-align: center;
  margin-right: auto;
  margin-left: auto;

  iframe {
    width: 427px;
    height: 356px;
    border: 2px solid #ccc;
    margin-bottom: 15px;
    .box-shadow(3px 3px 4px #999999);

    .ie6 &, .ie7 &, .ie8 & {
      border: 2px solid #999999;
    }
  }
}
@media (max-width: 767px) {
  .embed iframe {
    width: 90%;
    height: 90%;
  }
}

// ----------------------------------------------------------------------------
// Code
// ----------------------------------------------------------------------------
p {
  code {
    background-color: @content-background;
  }
}

pre {
  padding: 7px;
  border: 1px solid @code-border;
  background-color: #f9f9f9;
  display: block;
  position: relative
  overflow: auto !important;
}

pre code,
.gist .gist-file .gist-data {
  font-family: Monaco, monospace;
  padding: 20px 15px;
  color: @code-color;
  background-color: @code-background !important;
  display: block;
  overflow: auto !important;
}

pre,
.gist .gist-file {
  border: 1px solid @code-border;
  .border-radius(3px);
  .box-shadow(2px 5px 5px #aaaaaa);

  .ie6 &, .ie7 &, .ie8 & {
    border: 2px solid #aaaaaa;
  }
}

.highlight span {
   background-color: @code-background !important;
}
