// Variables
@header-color: #ffffff;
@header-subtitle-color: #cccccc;
@header-background: #1B1B1B;

// Classes
header {
  background-color: @header-background;

  .navbar {
    border: 1px solid green;
  }

  div.title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 0.5em;
    color: @header-color;

    h1 {
      margin: 0px;
      float: left;
      font-size: 3.2em;
      font-weight: 800;
      padding-right: 0.5em;
      margin-right: 0.5em;
      border-right: 1px solid @header-color;
    }

    p {
      margin: 0px;
      font-size: 1.15em;
      font-weight: 350;
      text-align: left;
      color: @header-subtitle-color;
    }

    a, a:active, a:visited, a:hover {
      color: @header-color;
    }
  }
}

#main {
  .inner {
    border: 1px solid red;
  }
}

// Center NavBar on Desktop
@media (min-width: 980px) {
  .header-container {
    margin-right: auto;
    margin-left: auto;
    width: 800px;
  }
  .pull-center {
    text-align: center;
  }
  .pull-center .nav {
    float:none;
    display:inline-block;
    *display: inline; *zoom: 1;
    height: 32px;
  }
}

  // width: 100%
  // margin-bottom: 20px
  // padding-top: 1em
  // background-color: header-background
  // color: header-color
  // box-shadow(0px, header-offset, header-offset, #999999)

  // div.title
  //   margin-left: auto
  //   margin-right: auto
  //   margin-bottom: 10px
  //   padding: 0.5em

  //   h1,
  //   p
  //     margin: 0

  //   h1
  //     float: left
  //     font-size: 3.2em
  //     font-weight: 800
  //     padding-right: 0.5em
  //     margin-right: 0.5em
  //     border-right: 1px solid header-color

  //   p
  //     font-size: 1.15em
  //     font-weight: 350
  //     color: header-subtitle-color
