<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  {% if page.description %}{% assign desc = page.description %}
  {% else %}{% assign desc = site.tagline %}{% endif %}
  <meta name="description" content="{{ desc }}" />

  {% if page.tags %}{% assign keywords = page.tags %}
  {% else %}{% assign keywords = site.keywords %}{% endif %}
  <meta name="keywords" content="{{ keywords | join: ", " }}" />

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}media/css/poole.css">
  <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}media/css/syntax.css">
  <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}media/css/lanyon.css">
  <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}media/css/loose-bits.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700|PT+Sans:400">

  {% comment %}
  <!-- TODO: ADD ICONS -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}{{ site.baseurl }}media/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.url }}{{ site.baseurl }}media/favicon.ico">
  {% endcomment %}

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- Google +1 -->
  <html itemscope itemtype="http://schema.org/Blog">
  <meta itemprop="name" content="{{ page.title }}">
  <meta itemprop="description" content="{{ desc }}">

  <!-- Facebook -->
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ desc }}" />

  <base href="{{ site.url }}{{ site.baseurl }}" />
</head>
